<a href="/"> < Go Back</a>
<h2>Dr. {{doctor.full_name}}</h2>
<br>
<h4>Physician Information</h4>
<ul class = "doc-info">
    <li>FullName: {{doctor.full_name}}</li>
    <li>Acceptiong New Patients : {{doctor.new_patients}}</li>
    <li>Speciality/Category: {{doctor.category}}</li>
    <li>Graduation Date: {{doctor.graduation_year}}</li>
    <li>Practice: {{doctor.practice_name}}</li>
</ul>
<br>
<h4>Practice Information</h4>
<ul class = "practice-info">
    <li>Name: {{doctor.practice_name}}</li>
    <li>Address: {{doctor.street_address}} {{doctor.city}} {{doctor.state}}</li>
</ul>